body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* estilo de <ul> */
#jokeList {
  list-style: none;  /* quita los puntos de la <ul> */
  padding: 0;            /* para que quepan muchos */
  margin: 0;
  /*display: flex;             /* MEJOR */
  /*flex-direction: column;    /* LO DE ABAJO */
  columns: 4;       /* cantidad de columnas */
  column-gap: 20px; /* separación */
}


/* estilo de los componentes de <ul> */
#jokeList li {
  
  width: 100%;       /* necesario en multicolumnas */
  display: inline-block; /* necesario en multicolumnas, ya veras si quitas estas dos lineas y reinicias */

  padding: 15px;
  margin-bottom: 20px; /* separación */
  background: #f3f3f3;     
  border: 1px solid #ccc;   /* estilo caja */
  /*height: auto;   /* (opcional, por defecto ya es auto) */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;  /* Asegura que el padding no aumente el ancho */
}

